<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MVC Tech Blog</title>
        <link rel="stylesheet" href="/css/jass.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>

        <div>
            <header>
                <nav>

                    <a href="#">Home</a>
                    <a href="#">Dashboard</a>
                    <a href="#">Login</a>
                    <!-- Conditionally render login or logout links -->
                    <!-- {{#if logged_in}} -->
                    <a href="#">Logout</a>
                </nav>
                <h1>
                    <a href="/">MVC Tech Blog</a>
                </h1>
            </header>

            <main>
                <!-- Render sub layout -->
                <!-- {{{ body }}} -->
                <!-- <div>
                    <header>
                        <h2>My Blog Title</h2>
                        <span>Posted By lmansilla on 11/9/2023</span>
                    </header>
                    <p>
                        This is the description of my blog post.
                    </p>
                </div>

                <div>
                    <header>
                        <h2>My Second Blog Title</h2>
                        <span>Posted By lmansilla on 11/9/2023</span>
                    </header>
                    <p>
                        This is the description of my second blog post.
                    </p>
                </div> -->

                <!-- <div>
                    <header>
                        <h3>Login</h3>
                    </header>
                    <span>Username</span>
                    <input type="text">
                    <span>Password</span>
                    <input type="text">
                    <button>Login!</button>
                </div> -->
                
            </main>

            <footer>

            </footer>
        </div>
        
        <!-- Render script for logged in users only -->
        <!-- {{#if logged_in}} -->
        <script src="/js/logout.js"></script>
        <!-- {{/if}} -->
    </body>
</html>