{{#if blogs.length}}

{{#each blogs as ||blog||}}
<div>
    <header>
        <h2>{{blog.name}}</h2>
        <span>Posted By lmansilla on 11/9/2023</span>
    </header>
    <p>
        {{blog.description}}
    </p>
</div>

{{/if}}