{{!-- LOOP through logged in user blog posts and display here --}}
{{#if blogs}}
<h2>Dashboard</h2>
    {{#each blogs }}
    <section>
        <span>{{name}}</span>
        <span>{{format_date date_created}}</span>
    </section>
    {{/each}}
{{/if}}
<button>New Blog</button>