{{!-- LOOP THROUGH BLOGS TO DISPLAY THEM ALL --}}

<!-- Render sub layout -->
{{#each blogs as |blog| }}
<div>
    <header>
        <h2>{{blog.name}}</h2>
        <span>Posted By {{blog.user.username}} on 11/9/2023</span>
    </header>
    <p>
        {{blog.description}}
    </p>
</div>
{{/each}}