{{!-- Login form with username, password, login button, sign up instead button --}}
<form class="login-form">
    <div>
        <header>
            <h3>Login</h3>
        </header>
        <label>Username</label>
        <input type="text" id="username-login">
        <label>Password</label>
        <input type="text" id="password-login">
        <button type="submit">Login!</button>
        <a href="/signup">Signup Instead</a>        
    </div>
</form>

<script src="./js/login.js"></script>