{{!-- signup form with username, password, sign up button, log in instead button --}}
<form>
    <div>
        <header>
            <h3>Signup</h3>
        </header>
        <label>Username</label>
        <input type="text">
        <label>Password</label>
        <input type="password">
        <button type="submit">Signup!</button>
        <a href="/login">Login Instead</a>        
    </div>
</form>